<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='images' href='/images'/>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" id='title'><%= title %></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/addRobots">Add a Robot</a></li>
          <li><a href="/about">About the Robots</a></li>
        </ul>
      </div>
    </nav>
    <div class='col-md-12 row'>
      <div class='col-md-6 block'>
        <div class="card">
          <div class="waves-effect waves-block waves-light">
            <img class='img'src="images/angry.jpg"/>
          </div>
          <div class="card-content">
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class='col-md-6 block'>
        <div class="card">
          <div class="waves-effect waves-block waves-light">
            <img  class='img' src="images/spongebob.jpg"/>
          </div>
          <div class="card-content">
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-12 row'>
      <div class='col-md-6 block'>
        <div class="card">
          <div class="waves-effect waves-block waves-light">
            <img class='img'src="images/sad.jpg"/>
          </div>
          <div class="card-content">
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class='col-md-6 block'>
        <div class="card">
          <div class="waves-effect waves-block waves-light">
            <img  class='img' src="images/Squidward.jpg"/>
          </div>
          <div class="card-content">
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-12 row'>
      <div class='col-md-6 block'>
        <div class="card">
          <div class="waves-effect waves-block waves-light">
            <img class='img'src="images/Patrick.jpg"/>
          </div>
          <div class="card-content">
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
